//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {

  &:focus {
    outline: 3px solid $implementation-highlight;
  }

  // Logo for mobile.
  @include max-width(md) {
    background: url('/themes/custom/common_design_subtheme/img/logos/poc-logo-mobile.svg') center no-repeat;
    background: linear-gradient(transparent, transparent), url('/themes/custom/common_design_subtheme/img/logos/poc-logo-mobile.svg') center no-repeat;
  }
}
