//——————————————————————————————————————————————————————————————————————————————
// Common Design: Main Navigation
//——————————————————————————————————————————————————————————————————————————————

.cd-site-header__nav-holder .cd-nav {

  > ul {
    background: transparent;
    display: flex;
  }

  .menu .menu-item {
    &.menu-item--active-trail a::before {
      background: $cd-highlight-red;
    }

    > a {
      align-items: center;
      background: transparent;
      display: flex;
      height: $cd-site-header-height;
      padding: 0 14px;
      position: relative;
      transition: background 0.3s ease;

      &::before {
        content: '';
        background: transparent;
        height: 6px;
        left: -1px;
        position: absolute;
        right: -1px;
        transition: background 0.3s ease;
        width: calc(100% + 2px);
        top: 60px;
      }

      &:hover {
        background: $cd-blue-grey;
      }

      &:focus {
        background: $cd-white;
      }

      &.is-active,
      &:focus {
        &::before {
          background: $cd-highlight-red;
        }
      }
    }
  }
}
