.field--name-body p,
.field--name-body ul {
  max-width: var(--cd-max-content-width);
}

.path-frontpage .field--name-body {
  max-width: var(--cd-max-content-width);
  margin-right: auto;
  margin-left: auto;
}

.field__label {
  font-weight: 700;
}

// Add padding to layout builder 2 col layout.
.node--type-pocam-extract .layout__region--second {
  // Breakpoint from layout builder css.
  @media screen and (min-width: 40em) {
    padding-left: 2rem;
  }
}
.node--type-pocam-extract .layout__region--first {
  .field--name-field-text p:first-child {
    margin-top: 0;
  }
}
