.field--name-body p,
.field--name-body ul {
  max-width: var(--cd-max-content-width);
}

.path-frontpage .field--name-body {
  max-width: var(--cd-max-content-width);
  margin-right: auto;
  margin-left: auto;
}

.field__label {
  font-weight: 700;
}
