.path-frontpage {
  form {
    margin-bottom: 40px;
  }

  .form--inline {
    display: flex;
    margin: auto;
    max-width: 26rem;
  }

  article {
    input[type='text'] {
      font-size: $cd-font-size--base;
      box-sizing: content-box;
      font-family: $cd-font;
      text-align: left;
      padding: 0 10px;
      border: 1px solid $cd-ocha-blue;
      color: $cd-ocha-blue;
      height: 44px;
      width: 100%;

      @media all and (-ms-high-contrast: none) {
        width: 98%;
      }

      &::placeholder {
        color: $cd-grey--dark;
        font-style: italic;
      }

      // IE11 alignment fix.
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        line-height: unset;
      }
    }

    .cd-search--inline__input[type='search']:focus,
    .cd-search--inline__input[type='text']:focus {
      border: 1px solid $cd-ocha-blue;
      outline: 2px solid $implementation-highlight;
    }

    .form-actions input[type='submit'] {
      padding: 0 12px;
      background: $cd-ocha-blue;
      line-height: 44px;
      border-radius: 0 4px 4px 0;
      border: 1px solid $cd-ocha-blue;
      color: $cd-white;
      text-transform: uppercase;
    }
  }
}
