.path-frontpage {
  form {
    margin-bottom: 40px;
  }

  .cd-form--inline {
    display: flex;
    max-width: 26rem;
    margin: auto;
  }

  article {
    input[type="text"] {
      box-sizing: content-box;
      width: 100%;
      height: 44px;
      padding: 0 10px;
      text-align: left;
      color: $cd-ocha-blue;
      border: 1px solid $cd-ocha-blue;
      font-family: $cd-font;
      font-size: $cd-font-size--base;

      &::placeholder {
        color: $cd-grey--dark;
        font-style: italic;
      }

      @media all and (-ms-high-contrast: none) {
        width: 98%;
      }

      // IE11 alignment fix.
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        line-height: unset;
      }
    }

    .cd-search--inline__input[type="search"]:focus,
    .cd-search--inline__input[type="text"]:focus {
      border: 1px solid $cd-ocha-blue;
      outline: 2px solid $implementation-highlight;
    }

    .form-actions input[type="submit"] {
      padding: 0 12px;
      text-transform: uppercase;
      border: 1px solid $cd-ocha-blue;
      border-radius: 0 4px 4px 0;
      line-height: 44px;
    }
  }
}
