.path-frontpage {

  .region-content .node__content {
    text-align: center;
    margin: 0 auto 1em;
    max-width: 720px;
  }

  h1.page-title {
    text-align: center;
    text-transform: uppercase;
    color: $cd-ocha-blue;
  }

  .intro,
  h2 {
    color: $cd-dark-grey;
  }

  form {
    margin-bottom: 40px;
  }

  .form--inline {
    display: flex;
    margin: auto;
    max-width: 26rem;
  }

  input[type='text'] {
    @include font-size($cd-font-size-medium);
    font-family: $cd-font;
    text-align: left;
    padding: 22px 10px;
    border: 1px solid $cd-ocha-blue;
    color: $cd-ocha-blue;
    transition: .3s ease;
    cursor: pointer;
    height: 42px;
    width: 100%;

    &::placeholder {
      color: $cd-dark-grey;
      font-style: italic;
    }

    // IE11 alignment fix.
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: unset;
    }
  }

  .form-actions input[type='submit'] {
    padding: 2px 12px;
    background: $cd-ocha-blue;
    line-height: 42px;
    border-radius: 0 4px 4px 0;
  }

  .btn--browse {
    display: inline-block;
    border-radius: 4px;
    background: $cd-ocha-blue;
    text-transform: uppercase;
    color: #fff;
    padding: 0 12px;
    text-decoration: none;
    transition: background .3s ease;
    line-height: 40px;
    margin: 1em auto 0;

    &:hover,
    &:focus {
      background: darken($cd-ocha-blue, 7%);
    }
  }

}
