// Theme list
.node--type-page .item-list {

  li a {
    margin-bottom: 20px;
    display: block;
  }
}

strong.highlight {
  background-color: #fff000;
  padding: 0 0.1em;
}

// Stop select2 from breaking layout.
.no-js .select2-widget {
  width: 100%;
}

.select2-selection__choice,
.select2-selection--single,
.select2-selection__multiple,
.select2-search__field {
  width: 100% !important;
}

.select2-selection__choice {
  max-width: 100%;
  overflow: ellipsis;
  word-wrap: normal !important;
  white-space: normal;
}
