// Theme list
.node--type-page .item-list {

  li a {
    margin-bottom: 20px;
    display: block;
  }
}

// Table width:
.views-field-field-link {
  width: 20%;
}

// Search highlighting.
.highlight {
  background-color: #fff000;
}

// Limit search box in sidebar.
.cd-layout-sidebar-first .cd-search--inline__input {
  padding: 0;
}

// Stop select2 from breaking layout.
.no-js .select2-widget {
  width: 100%;
}

.select2-selection__choice,
.select2-selection--single,
.select2-selection__multiple,
.select2-search__field {
  width: auto !important;
}

.select2-selection__choice {
  white-space: normal;
}

.cd-layout-sidebar-first {
  .form--inline {
    display: flex;
  }

  input[type='text'] {
    padding: 22px 10px;
    border: 1px solid $cd-ocha-blue;
    color: $cd-ocha-blue;
    transition: .3s ease;
    cursor: pointer;
    height: 42px;
    width: 100%;

    &::placeholder {
      color: $cd-dark-grey;
      font-style: italic;
    }

    // IE11 alignment fix.
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: unset;
    }
  }

  .form-actions input[type='submit'] {
    padding: 2px 12px;
    background: $cd-ocha-blue;
    line-height: 42px;
    border-radius: 0 4px 4px 0;
    border: 0;
    color: $cd-white;
    text-transform: uppercase;
  }
}

// Handle filter.
.cd-filter__btn {
  background: $implementation-primary-dark;
  color: $cd-light-grey;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  svg {
    width: 2rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
  }

  &:hover,
  &:focus {
    background: $implementation-primary;
  }

  &:focus {
    outline: 3px solid $implementation-highlight;
  }

  &[aria-expanded] .cd-icon--arrow-down {
    width: 2rem;
    height: 2rem;
  }

  @include tablet {
    // This is needed for IE11
    // No support for CSS custom properties means
    // --dropdown: false; property on nav container is not recognised
    // so the cd-dropdown.js creates a toggler button on desktop
    // This hides it when that happens.
    @media all and (-ms-high-contrast: none) {
      display: none;
    }
  }
}

.cd-filter {
  @include tablet {
    --dropdown: false;

    // This is needed for IE11
    // No support for CSS custom properties means
    // --dropdown: false; property on nav container is not recognised
    // so the cd-dropdown.js does not run the updateToggler function
    // which toggles the data-cd-hidden attribute.
    // This displays the nav regardless of that attribute value.
    @media all and (-ms-high-contrast: none) {
      &[data-cd-hidden='true'] {
        display: block;
      }
    }
  }
}

// Add a bit of space in two column layout.
.layout__region--second {
  padding-left: 16px;
}
