// Theme list
.node--type-page .item-list {

  li a {
    margin-bottom: 20px;
    display: block;
  }
}

// Table width:
.views-field-field-link {
  width: 20%;
}

// Search highlighting.
.highlight {
  background-color: #fff000;
}

// Limit search box in sidebar.
.cd-layout-sidebar-first .cd-search--inline__input {
  padding: 0;
}

// Stop select2 from breaking layout.
.no-js .select2-widget {
  width: 100%;
}

.select2-selection__choice,
.select2-selection--single,
.select2-selection__multiple,
.select2-search__field {
  width: auto !important;
}

.select2-selection__choice {
  white-space: normal;
}

.cd-layout-sidebar-first {
  .form--inline {
    display: flex;
  }

  input[type='text'] {
    box-sizing: content-box;
    padding: 0 10px;
    border: 1px solid $cd-ocha-blue;
    color: $cd-ocha-blue;
    height: 44px;
    width: 100%;
    @media all and (-ms-high-contrast: none) {
      width: 98%;
    }

    &::placeholder {
      color: $cd-grey--dark;
      font-style: italic;
    }

    // IE11 alignment fix.
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: unset;
    }
  }

  .cd-search--inline__input[type='search']:focus,
  .cd-search--inline__input[type='text']:focus {
    border: 1px solid $cd-ocha-blue;
    outline: 2px solid $implementation-highlight;
  }

  .form-actions input[type='submit'] {
    padding: 0 12px;
    background: $cd-ocha-blue;
    line-height: 44px;
    border-radius: 0 4px 4px 0;
    border: 1px solid $cd-ocha-blue;
    color: $cd-white;
    text-transform: uppercase;
  }
}

// Add a bit of space in two column layout.
.layout__region--second {
  padding-left: 2rem;
}
