.tabs.primary {
  border-bottom: 1px solid $highlight-border-color;
  background: $light-bg-color;
  margin: 0 0 $cd-base-unit * 4;
  padding: 0;
  display: flex;

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: $cd-base-unit;
    margin: 0;
    border: 0;
    background: $cd-light-bg-color;
    text-transform: uppercase;
    font-weight: bold;

    &:hover,
    &:focus {
      background: $secondary-bg-color;
      color: $light-text-color;
      opacity: 0.8;
    }

    &.active {
      border: 0;
      background: $secondary-bg-color;
      color: $light-text-color;
    }
  }
}

@include sm {

  .tabs.primary {

    a {
      padding: $cd-base-unit $cd-base-unit * 2;
    }

  }
}
