{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-dropdown__link"><a href="https://www.agendaforhumanity.org/">Agenda for Humanity</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://interagencystandingcommittee.org/">Inter-Agency Standing Committee</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://unocha.org/">OCHA website</a></li>
  {% endblock %}

{% endembed %}
