form {
  .field-multiple-table {
    width: 100%;
    background: #fff;

    td {
      /* padding: $cd-base-unit / 2 0; */
      vertical-align: top;
      display: block;
    }

    th {
      border-bottom: 1px solid #ddd;
      display: none;
    }

    th.field-label,
    td {
      padding: $cd-base-unit;
    }

    td.field-multiple-drag {
      position: absolute;
      right: $cd-base-unit * 2;

      a.tabledrag-handle {
        float: none;
        margin: 0;
        padding: 0;
      }
    }

    &.tabledrag-processed {
      th:first-child {
        label {
          display: none;
        }
      }
    }
  }

}

.form-item {
  background: $cd-light-bg-color;
  padding: $cd-base-unit * 2;
  margin: 0 0 1px;

  .form-item,
  .vertical-tabs & {
    padding: 0;
    margin: 0 0 $cd-base-unit;
    background: none;
  }

  .description {
    white-space: normal;
  }
}

.form-actions {
  margin: 0;
}

.form-managed-file {
  position: relative;

  .form-file {
    width: 210px;
    padding: 0 $cd-base-unit / 2;
    margin: $cd-base-unit * 1.5 0 $cd-base-unit * 2;
    position: relative;
    z-index: map-get($zindex, default);
  }

  &::before {
    content: '';
    width: 210px;
    height: 40px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.field-widget-multifield-table {
  position: relative;

  tr.odd,
  tr.even {
    border-bottom: 0;
  }

  tr {
    border-top: 4px solid $cd-light-bg-color;
  }

  .form-item {
    padding-bottom: $cd-base-unit * 4;

    .form-item {
      padding-bottom: 0;
    }
  }
}

.form-type-managed-file {
  label {
    margin-bottom: $cd-base-unit / 2;
  }
}

.i-am-dragdropfile.form-submit {
  display: block;
  margin: $cd-base-unit / 2 0;
}

a.tabledrag-handle .handle {
  background-position: 0 0;
  width: 14px;
  height: 14px;
  display: block;
  margin: 0;
  padding: 0;
}

.tabledrag-toggle-weight-wrapper {
  position: absolute;
  left: $cd-base-unit * 2;
  bottom: $cd-base-unit;
}

label {
  font-weight: bold;
}

.date-form-element-content-multiline {
  border: 0;
  padding: 0;
}

.dragdropfile-processed {
  outline: dotted 1px #ccc;
  padding: $cd-base-unit / 2;
  margin-right: $cd-base-unit / 2;

  &.over {
    background: $cd-light-bg-color;
  }

  &::before {
    content: none;
  }
}

div.vertical-tabs {
  margin: $cd-base-unit * 2 0;

  ul.vertical-tabs-list {
    float: none;
    width: 100%;
    margin: 0;
    border-top: 0;

    li {
      border-left: 0;
      border-right: 0;
    }
  }

  fieldset.vertical-tabs-pane {
    padding: $cd-base-unit;
  }
}

.date-repeat-radios input[type='radio'] {
  margin-top: 3px;
}

.until .date-prefix-inline {
  min-width: 40px;
  padding-left: 6px;
}

.container-inline-date .form-item input {
  width: 95px;
}

#repeat-settings-fieldset {
  border-top: 1px dashed #fff;
  padding-top: $cd-base-unit * 2;
}

#edit-field-event-date-und-0-rrule-daily-interval-child {
  margin-right: 4px;
}

.date-repeat {
  margin-bottom: $cd-base-unit;

  .container-inline-date {
    display: inline-block;
  }

  input[type='submit'] {
    vertical-align: bottom;
    margin-bottom: 33px;
    padding: 9px $cd-base-unit * 1.5;
  }
}

.front {
  #messages {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 $cd-base-unit * 2;

    .error {
      background-image: none;
      border: 0;
      padding: $cd-base-unit;
    }

    ul {
      list-style: none;
      margin: 0;
    }
  }

  .chosen-container.error {
    background: none;

    .chosen-single {
      border: 1px solid #ccc;
    }
  }

}

@include tablet {

  .form-managed-file {
    .form-file {
      width: 280px;
      margin: 0 $cd-base-unit $cd-base-unit * 2 0;
    }

    &::before {
      width: 280px;
    }
  }

  .field-widget-multifield-table {
    .form-item {
      padding-bottom: $cd-base-unit * 2;
    }
  }

  form .field-multiple-table {
    th,
    td {
      display: table-cell;
    }

    td.field-multiple-drag {
      position: relative;
      right: auto;
      padding-top: 10px;
    }
  }

  .tabledrag-toggle-weight-wrapper {
    bottom: $cd-base-unit * 5;
    right: $cd-base-unit * 2;
    left: auto;
  }

  .i-am-dragdropfile.form-submit {
    display: inline-block;
    margin: 0;
  }

  div.vertical-tabs {
    margin: 1em 0 1em 15em;

    ul.vertical-tabs-list {
      width: 15em;
      margin: -1px 0 -1px -15em;
      float: left;
      border-top: 1px solid #ccc;

      li {
        border: 1px solid #ccc;
        border-top: 0;
      }
    }
  }

  .dragdropfile-processed {
    &::before {
      content: 'Drag and drop files here';
      display: block;
      text-align: center;
      text-transform: uppercase;
      padding: 8px;
      font-weight: bold;
      border: 0;
      background: $cd-light-bg-color;
      @include font-size($cd-font-size-base);
    }
  }

}

/* Home page search */
#events-event-select-location-form {
  text-align: right;
  margin: $cd-base-unit * 2 auto $cd-base-unit * 5;
  max-width: 600px;

  .form-item {
    background: none;
  }

  label {
    margin-bottom: $cd-base-unit * 2;
    @include font-size($cd-font-size-medium);
    font-family: $cd-heading-font;
    font-weight: 300;
    /* color: $heading-text-color; */

    .form-required {
      display: none;
    }
  }

  .form-submit {
    vertical-align: middle;
  }
}

.form-item-loc {
  margin-bottom: $cd-base-unit * 1.5;
  text-align: left;
  padding: 0;

  .chosen-single {
    padding: $cd-base-unit;
  }

  .chosen-container .chosen-single div b {
    line-height: $cd-base-unit * 5;
  }
}

@include sm {

  #events-event-select-location-form {
    padding: $cd-base-unit * 2;

    label {
      @include font-size($cd-font-size-xlarge);
    }
  }

  .form-item-loc {
    margin-bottom: $cd-base-unit * 2;
  }

}

/* Hide text format options */
.text-format-wrapper {
  .form-item {
    margin-bottom: 1px;
  }

  .filter-wrapper {
    display: none;
  }
}
